{% extends 'base.html' %}

{% block content %}

<div class="row">
  <div class="col-md-3">
    {% include 'sidebar.html' %}  <!-- Opcional: Reuse a sidebar -->
  </div>
  <div class="col-md-9">
    <h1>Clientes</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>E-mail</th>
        </tr>
      </thead>
      <tbody>
        {% for cliente in clientes %}
          <tr>
            <td>{{ cliente.nome }}</td>
            <td>{{ cliente.email }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}