{% extends 'base.html' %}

{% block content %}

<h1>Hello World!</h1>

<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Contato</th>
      <th scope="col">Estado</th>
      <th scope="col">ID</th>
    </tr>
  </thead>
  <tbody>

{% if records %}      
    {% for record in records %}
      <tr>
        <td>{{ record.name }}</td>
        <td>{{ record.phone }}</td>
        <td>{{ record.state }}</td>
        <td><a href ="{% url 'record' record.id %}">{{ record.id }}</a></td>
    </tr>
    {% endfor %}
{% endif %}
    </tbody>
  </table>

{% endblock %}